*{
    margin: 0;
    padding: 0;
}

header , footer{
    text-align: center;
    border: none;
    padding: 20px;
    background-color: #5f5f5f;
    color: #ffffff;
}
.menu a{
    text-decoration: none;
    color: #ffffff;

    
}
.menu li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 5px 35px ;
    
    border-left: 1px solid white;
    
    
}
.menu li:hover{
    background-color: #4caf50;
    
}
.menu{
    background-color: #5f5f5f;
    border: none;
    font-style: 14px;
    font-weight: 600;
    color: #ffffff;
}
.container {
    display: flex;
    height: 600px;

}
.left a{
    text-decoration: none;
    color :#000000;
    
}

.left li{
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid black;

    
}
.left {
    background-color: #ffffff;   
    float: left;
    color: #000000;
    width: 210px;
    display: flex;
    
}
.right{
    background-color: #ffffff;   
    float: right;
    color: #000000;
    width: 150px;
    display: flex;
    border: none;
    border-left: 1px solid black;
}
.left a:hover ,.left li:hover{
    background-color:#4caf50;
    color: white;
}
.first{
    background-color: #5f5f5f;
    font-style: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    width: 210px;
}
.center { 
    flex: 3;
    float: left;
    text-align: center;
    text-transform: uppercase;
}


