*{
	padding: 0;
	margin:0;
}
#header{
	background-color: #ccc;
}
#content{
	position: relative;
	top:5px;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	height: 600px;

}
.col-1{
	width: 30%;
	display: flex;
	justify-content: flex-start;

}
.col-1 li{
	list-style-type: none;
	border:2px solid red;
	background-color: #ccc;
	width: 150px;
}
.col-2{
	position: relative;
	top:15px;
	width: 40%;

}
.col-3{
	width: 30%;
	display: flex;
	background-color: #ccc;
	height: 100%;

}