body{
	margin: 0;
	padding: 0;
	font-family: Georgia;
}
h1{
	color :chocolate;
}
img{
	width: 180px;
	height: 180px;
	object-fit: cover;
}
#circle li{
	list-style-type: circle;
}
#a-header a {
	padding-right: 10px;
}
h2{
	color: chocolate;
	text-align: center;
	}
#bang table{
	width: 800px;
	border-collapse: collapse;

}
#bang table th{
	text-align: center;
}

#bang table,#bang th,#bang td {
	border: 1px solid black;
}
#bang{
	display: flex;
  	flex-direction: column-reverse;
  	align-items: center;
}
#cv td{
	font-size: 13px;
}
h6{
	font-size: 20px;
}
#head{
	display: flex;

}
 table .right{
	text-align: right;
}
h3{
	text-align: right;
}
